# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/log
*~

/config/config.yml
/config/database.yml
/app/views/links/_google_analytics.html.erb
