= form_tag({action: :search}, method: :get, class: "form-inline pull-right") do
  .input-append
    = text_field_tag :s, params[:s], placeholder: "Type Somethin",class: "input", id:'appendedInputButton'
    = submit_tag "Search", class: "btn btn-danger"
