.row-fluid
  %ul.breadcrumb
    %li
      %a.with-icon( href="/")
        %i.icon-home
        %span.divider /
    %li
      = link_to current_user.email, {action: :profile}
      %span.divider /
    %li= @title
    %li.pull-right
      = render partial: 'search_form'

#links= render partial: 'links/link', collection: @links

=paginate @links, theme: "bootstrap"
